{% if color_details %}
	<style>:root
	{
		--header-bg-color: {{header_bg_color}}
		;
		--text-color: {{text_color}}
		;
		--nav-color: {{nav_color}}
		;
		--nav-hover-color: {{nav_hover_color}}
		;
		--dropdown-nav-color: {{drop_nav_color}}
		;
		--dropdown-nav-hover-color: {{drop_nav_hover_color}}
		;
		--dropdown-nav-hover-link-color: {{drop_nav_hover_link_color}}
		;
		--dropdown-nav-bg-color: {{drop_bg_color}}
		;
		--slider-bg-color: {{slider_bg_color}}
		;
		--footer-bg-color: {{Footer_bg_color}}
		;
		--footer-link-color: {{footer_color}}
		;
		--footer-hover-link-color: {{footer_hover_color}}
		;
		--footer-text-color: {{footer_text_color}}
		;
		--header-top-bg-color: {{header_top_bg_color}}
		;
		--header-top-link-color: {{header_top_Link_color}}
		;
		--header-top-position-text-align: {{header_top_Position}}
	}
</style>{% endif %}<header class="header-top bg-grey justify-content-center">
<div class="container-fluid hed-top-bg">
	<div class="Header-top">
		{% if page.header %}
			{{page.header}}
		{% endif %}
	</div>
</div>
<div class="container">
	<div class="row align-items-center">
		<div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
			<a class="navbar-brand " href="{{ url('<front>') }}">
				{% if page.logo %}
					{{ page.logo }}
				{% endif %}
			</a>
		</div>
		<div class="col-lg-8 col-md-12">
			<nav class="navbar navbar-expand-lg navigation-2 navigation">
				<a class="navbar-brand text-uppercase d-lg-none" href="{{ url('<front>') }}">
					{% if page.logo %}
						{{ page.logo }}
					{% endif %}
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="ti-menu subscribe-h"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar-collapse">
					{% if page.navigation %}
						{{ page.navigation }}
					{% endif %}
					{% if show_social_icon %}
						<ul class="list-inline mb-0 d-block d-lg-none">
							<li class="list-inline-item ">
								<a href="{{ facebook_url }}">
									<i class="ti-facebook social-color"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="{{ twitter_url }}">
									<i class="fa-brands fa-x-twitter social-color"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="{{ linkedin_url }}">
									<i class="ti-linkedin social-color"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="{{ instagram_url }}">
									<i class="ti-instagram social-color"></i>
								</a>
							</li>
						</ul>
					{% endif %}
				</div>
			</nav>
		</div>
		<div class="col-lg-2 col-md-4 col-6">
			<div class="header-socials-2 text-right d-none d-lg-block">
				{% if show_social_icon %}
					<ul class="list-inline mb-0">
						<li class="list-inline-item">
							<a href="{{ facebook_url }}">
								<i class="ti-facebook mouse-hover"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="{{ twitter_url }}">
								<i class="fa-brands fa-x-twitter social-color mouse-hover"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="{{ linkedin_url }}">
								<i class="ti-linkedin mouse-hover"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="{{ instagram_url }}">
								<i class="ti-instagram mouse-hover"></i>
							</a>
						</li>
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
</div></header>{# This Section is Used for Slider #}{% if crt_path %} {% if select_slider %}
<section class="slider mt-4">
	<div class="container-fluid">
		<div class="row no-gutters">
			<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
				{% for key, option in slide %}
					<div class="slider-item">
						<div class="slider-item-content">
							<div class="post-thumb mb-4">
								<a href="{{option.slide_url_1}}">
									<img src="{{option.image_path}}" alt="" class="img-fluid">
								</a>
							</div>

							<div class="slider-post-content">
								<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">{{option.slide_url_text_1}}</span>
								<h3 class="post-title mt-1">
									<a href="{{option.slide_url_1}}">{{option.slide_des}}</a>
								</h3>
								<span class=" text-muted  text-capitalize">{{option.slide_date}}</span>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{# This Section is Used for Banner #}{% else %}
<section class="section-padding banner-color">
	<div class="container">
		<div class="row">
			{% for key, option in banner %}
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="category-item">
						<div class="category-img">
							<a href="{{option.slide_url_1}}"><img src="{{option.image_path}}" alt="" class="img-fluid w-100"></a>
						</div>
						<div class="content">
							<a href="{{option.slide_url_1}}" class="text-color text-uppercase font-sm letter-spacing font-extra">{{option.slide_url_text_1}}</a>
							<h4>
								<a href="{{option.slide_url_1}}">{{option.slide_des}}</a>
							</h4>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>{% endif %}{% endif %}<section class="section-padding">
<div class="content-container">

  <!-- Start: Main-page Content -->
  <div class="main-content">
      {% if not is_front %}
        {{ page.breadcrumb }}
      {% endif %}

      <div class="row layout">
        {% if page.left_sidebar %}
          <div class="col-sm-3">
            <div class="sidebar">
              {{ page.left_sidebar }}
            </div>
          </div>
        {% endif %}

        {% if page.content or show_slideshow%}
          <div class="col-sm">
            <div class="content_layout">
              {{ page.content }}
            </div>
          </div>
        {% endif %}

        {% if page.right_sidebar  %}
          <div class="col-sm-3">
            <div class="sidebar">
              {{ page.right_sidebar  }}
            </div>
          </div>
        {% endif %}
    </div>
  </div>
  <!--End: Main-page Content -->

</div> 

</section>

<section class="footer-2 section-padding gray-bg pb-5">
<div class="container">
	{% if footer_subscribes %}
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="subscribe-footer text-center">
					<div class="form-group mb-0">
						{% if footer_sub_title %}
							<h2 class="mb-3 subscribe-h">{{ footer_sub_title }}</h2>
						{% endif %}
						{% if footer_sub_des %}
							<p class="mb-4 subscribe-h">{{ footer_sub_des }}</p>
							<p>
							{% endif %}
							<div class="form-group form-row align-items-center mb-0">
								<div class="col-sm-9">
									<input type="email" class="form-control" placeholder="Email Address">
								</div>
								<div class="col-sm-3">
									<a href="#" class="btn btn-dark ">Subscribe</a>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="footer-btm mt-5 pt-4 border-top">
		<div class="row">
			<div class="col-lg-12">
				{% if page.footer_first %}
					{{ page.footer_first }}
				{% endif %}

			</div>
		</div>
		{% if footer_details %}
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="copyright text-center subscribe-h">
						{% if footer_copyright %}
							{{ footer_copyright }}
							<a class="subscribe-h" href="{{ footer_theme_url }}">{{ footer_deve_text }}</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div></section>
