{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}
	{% if items %}
		{% if menu_level == 0 %}
			<ul{{attributes.addClass('menu navbar-nav mx-auto')}}>
			{% else %}
				{# <ul class="menu navbar-nav mx-auto 89"> #}
				{% endif %}
				{% for item in items %}
					{%
        set classes = [
          'menu-item nav-item ',
          item.is_expanded ? 'menu-item--expanded dropdown',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
					{% if menu_level > 0 %}

						<a class="dropdown-item" href="{{ item.url }}">
							{{ item.title }}
						</a>
						{% if item.below %}
							{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
						{% endif %}

					{% else %}
						<li{{item.attributes.addClass(classes)}}>
							<a class="nav-link{% if item.is_expanded %} dropdown-toggle{% endif %}" href="{{ item.url }}">
								{{ item.title }}
							</a>
							{% if item.below %}
								<div class="dropdown-menu" aria-labelledby="navbarDropdown{{ menu_level }}">
									{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
								</div>

							{% endif %}
						</li>
					{% endif %}

				{% endfor %}
        {% if menu_level == 0 %}
			</ul>
      {% endif %}
		{% endif %}
	{% endmacro %}
